[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "assemblykor"]
	path = assemblykor
	url = https://github.com/kyusik-yang/assemblykor
